[submodule "lualib-src/lua-mongo"]
	path = lualib-src/lua-mongo
	url = https://github.com/cloudwu/lua-mongo.git
[submodule "lualib-src/lua-bson"]
	path = lualib-src/lua-bson
	url = https://github.com/cloudwu/lua-bson.git
[submodule "lualib-src/lua-protobuf"]
	path = lualib-src/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "lualib-src/lua-cjson"]
	path = lualib-src/lua-cjson
	url = https://github.com/cloudwu/lua-cjson.git
